@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-blue-500: #0071e3;
  --color-blue-600: #0077ED;
}

/* Base styles for a clean Apple-like aesthetic */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1d1d1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
